{% extends 'layout.html' %}

{% block title %}Ask Question{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="d-flex align-items-center justify-content-center" style="margin: 1.5rem; margin-top: 2.5rem;">
    <div class="card shadow" style="width:60rem; padding: 1rem; border-radius: 3mm;">
        <form action="" method="POST">
            {% csrf_token %}
            <h2 class="text-center" style="margin:0 0 22px 0;">ASK QUESTION</h2>
            <div style="margin-bottom:14px;" class="row">
                {{ form.question|as_crispy_field }}
            </div>
            <div class="mt-4 d-flex align-items-center justify-content-center">
                <div style="padding-right:6px;">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
