{% extends 'layout.html' %}

{% block title %}View Question{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block links %}
<style>
    .upvote:hover {
        background-color: #90ee9058;
    }

    .unupvote {
        background-color: #90ee9058;
    }

    .unupvote:hover {
        background-color: #ff7f7f58;
    }
</style>
{% endblock %}

{% block body %}
<div style="margin: 2.25rem 1.5rem 3rem 1.5rem;">
    <b>
        <p style="font-size: 26px;">{{ question }}</p>
    </b>
</div>
{% for answer in answers %}
<div class="d-flex" style="flex-direction: row; margin: 1.2rem 1.5rem;">
    {% if answer.voted %}
    <a href="#" style="text-decoration: none; color: black; text-align: center;">
        <div class="d-flex card round unupvote"
            style="flex-direction: column; padding: 0.75rem 1.25rem; margin-right: 0.75rem;">
            {% else %}
            <a href="#" style="text-decoration: none; color: black; text-align: center;">
                <div class="d-flex card round upvote"
                    style="flex-direction: column; padding: 0.75rem 1.25rem; margin-right: 0.75rem;">
                    {% endif %}
                    <i class="fa-solid fa-arrow-up"></i>
                    <p class="text-muted" style="margin: 0;">{{ answer.votes }}</p>
                </div>
            </a>
            <div class="card round" style="flex: 1;">
                <p style="margin: 1rem;">{{ answer.answer }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="d-flex align-items-center justify-content-center" style="margin: 2rem;">
            <a class="btn btn-success" href="{% url 'main:answer_question' question_id %}">Answer
                Question</a>
        </div>
{% endblock %}
